
#background{
	width: auto;
	height: 953px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../images/image_0.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.pushbutton{
	cursor: pointer;
	text-align: center;
	transition-property: box-shadow;
}
.pushbutton:hover{
	box-shadow: 0px 0px 12px rgba(255, 255, 255, 1);
	transition-duration: .1s;
}

#main_pushbutton{
	cursor: pointer;
	margin: 10px;
	width: 380px;
	height: 60px;
	background-color: #530f09;
	border-radius: 6px;
	display:block;
	text-align: center;
}

#main_pushbutton>h2{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#filter_hotels{
	background-color: #530f09;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 3fr;
	justify-items: center;
	align-items: center;
}

#filter_hotels input{
	width: 60%;
	max-width: 230px;
	height: 42px;
	padding-left: 15px;
	border-radius: 6px;
	border: none;
	outline: none;
	color: black;
	margin: 15px 20px;
}

#check_pushbutton{
	cursor: pointer;
	width: 320px;
	height: 42px;
	background-color: #ff5b2f;
	border-radius: 6px;
	/*display:block;*/
	margin:auto;
	text-align: center;

	margin: 10px;
	font-weight: bold;
	color: #ffffff;
}

#check_pushbutton>h2{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;

	font-size: 24px;
}


#hotels{

	border: 1px solid rgba(153, 153, 153, 1);
}

.list{
	display: grid;
	height: 100px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	align-items: center;
	
	padding: 1% 1%;
}

.description{
	overflow: hidden;
	width: 90%;
	grid-column: 1/4;
	text-align: left;
	justify-self:  left;
	font-size: 14px;
	color: #736361;
	padding: 4px;
	text-overflow: ellipsis;
}

.list>span{
	cursor: pointer;
	display: grid;

	text-align: center;
	justify-items: left;
	grid-template-columns: auto 2fr;
	background: #fff;
	padding: 10px 10px;
	border: 1px solid rgba(153, 153, 153, 1);
	font-size: 22px;
	font-weight: bold;
	

}

.list>span>span:nth-child(2){
	justify-self:  center;
}

.scroll{
	height: 360px;
	overflow-x: hidden;
	background: #fff;
	border: #C1C1C1;
	overflow-y: scroll;
	white-space:nowrap;
    border: solid 1px #ffffff;
}

.scroll::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:10px;
	height:0px
}

.scroll::-webkit-scrollbar-track {
	background-color:#ffffff
}

.scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#C4C4C4;
}

.scroll::-webkit-scrollbar-thumb:hover{
	background-color:#a9352c;
}

.scroll::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:10px;
	height:0px
}

.scroll::-webkit-scrollbar{
	width: 10px;
}

.arrow{
	position: absolute;
	cursor: pointer;
	top: 50%;
	width: 15%;
	max-width: 120px;
}

.left{
	left: 1px;
}

.right{
	transform: rotate(180deg);
	right: 1px;
}

#news{
	position: relative;
}

.news_description{
	padding: 50px;
	height: 100px;
	position: absolute;
	bottom: 3.5px;
	text-align: center;
	left: 0px;
	right: 0px;
	color: #ffffff;
	background:  rgba(0, 0, 0, 0.7);
	z-index: 10;
}

#circles{
	display: flex;
 	justify-content: center;
}

.circle{
	margin: 4px;
	width: 28px;
	padding: 0;
	height: 28px;
	border-radius: 50%;
	background-color: #facdce;
}

#attractions{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin: 0px 30px 30px 30px;
	justify-items: center;
	align-items: center;
}

#attractions>div{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.description_attraction{
	position: absolute;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-self: center;
	align-self: center;
	justify-items: center;
	align-items: center;

	z-index: 10;	
}

.link{
	display: none;
	position: absolute;
	left: 69px;
	right: 69px;
	bottom: 30px;
	height: 322px;
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	justify-self: center;
	align-self: center;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
	z-index: 2;
}

.attraction_link{
	position: absolute;
	display: flex;
	flex-direction: column;
	/*padding: 51px 55px;*/
	text-align: center;
	justify-self: center;
	align-self: center;
	justify-items: center;
	align-items: center;
	
	
}

.attraction_link>span{
	height: 60px;
	font-size: 30px;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	color: #ffffff;
	z-index: 3;
}

.attraction_arrow{
	/*cursor: pointer;*/
	width: 300%;
	max-width: 120px;
	transform: rotate(180deg);
	z-index: 5;
}

.attraction{
	margin: 30px;
	width: 70%;
	max-width: 400px;
	box-shadow: 30px 30px #53110c;
	justify-self:center;
	align-self: center;
	z-index: 1;
}
