*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family:sans-serif;
	font-family: Georgia, Sans-serif;
}

a{
	text-decoration: none;
}

h1{
	text-align: center;

	margin: 10px;

	font-size: 60px;
	font-weight: bold;
	color: #ffffff;
	-webkit-text-stroke-width: 3px;
   	-webkit-text-stroke-color: #530f09;
}

h2{
	text-align: center;

	margin: 10px;
	font-weight: bold;
	font-size: 36px;
	color: #ffffff;
}

h3{
	text-align: center;

	margin: 10px;
	font-weight: bold;
	font-size: 36px;
	color: #53110c;
}


h4{
	text-align: center;

	margin: 10px;
	font-weight: bold;
	font-size: 28px;
	color: #ff5a2f;
}

#icon{
	display:block;
	margin: 10px;
	filter: invert(100%)
		drop-shadow(3px 3px 0 #530f09) 
		drop-shadow(-3px -3px 0 #530f09)
		drop-shadow(3px -3px 0 #530f09)
		drop-shadow(-3px 3px 0 #530f09);
}

header{
	background-color: #53110c;
	padding: 10px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#headmenu>a{
	padding: 30px;
	font-size: 48px;
	color: #ffffff;
	font-weight: bold;
}

#search input::-webkit-input-placeholder {
  color: #ff5733; 
  font-style: italic;
}

#search input {
  color: white;
}

#icon_search{
	cursor: pointer;
	margin: 5px;
}

#search{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#search form {
	width: auto;
	float: right;
	margin-right: 30px;
}

#search input {
	margin: 5px;
	width: 400px;
	height: 35px;
	padding-left: 15px;
	border-radius: 40px;
	border: 2px solid #ffffff;
	background: #53110c;
	outline: none;
}


footer{
	padding: 30px 10px 10px 10px;
	/*Верх право низ лево*/
	text-align: left;
	font-size: 20px;
	color: #ffffff;
	background-color: #53110c;
}

footer{
	display: grid;
	grid-template-columns: auto 1fr;
}

footer>div{
	text-align: center;
}
td>a{
	color: #ffffff;
}

td{
	padding: 5px 20px;
}

th{
	padding: 5px 20px;
	font-size: 30px;
	color: #f55b35;
}

.contacts>img{
	cursor: pointer;
	padding: 2px;
	width: 40px;
}

footer>p{
	padding: 0px;
	margin: 0px;
	text-align: right;
	justify-self: right;
}
