#headmenu{
	
}


#headmenu>a{
	padding: 30px;
	font-size: 48px;
	color: #ffffff;
	font-weight: bold;
}

header{
	background-color: #53110c;
	padding: 10px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*#search {background: #7BA7AB;}*/
/*#search:after {
	content:"";
	clear:both;
	display:table
}*/

input::-webkit-input-placeholder {
  color: #ff5733; 
  font-style: italic;
}

input {
  color: white;
}




#search form {
  width: auto;
  float: right;
  margin-right: 30px;
}

#search input {
  width: 300px;
  height: 35px;
  padding-left: 15px;
  border-radius: 40px;
  border: 2px solid #ffffff;
  background: #53110c;
  outline: none;
  /*position: relative;*/
  /*transition: .3s linear;*/
}
/*
#search input:focus {
  width: 300px;
}
*/
#search>div {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
/*
#search button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
*/


#background{
	width: auto;
	height: 953px;
	display:block;
	margin:auto;
	background-image: url(../images/image_0.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

#main_bottom{
	cursor: pointer;
	width: 380px;
	height: 60px;
	background-color: #530f09;
	border-radius: 6px;
	display:block;
	margin:auto;
	text-align: center;
}

#main_bottom>h2{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#icon{
	display:block;
	margin:auto;
	filter: invert(100%)
		drop-shadow(3px 3px 0 #530f09) 
		drop-shadow(-3px -3px 0 #530f09)
		drop-shadow(3px -3px 0 #530f09)
		drop-shadow(-3px 3px 0 #530f09);
}

#filter_hotels{
	background-color: #530f09;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 3fr;
	justify-items: center;
	align-items: center;
}

#filter_hotels input{
	width: 230px;
	height: 42px;
	padding-left: 15px;
	border-radius: 6px;
	border: none;
	outline: none;
	color: black;
	margin: 15px 20px;
}

#check_bottom{
	cursor: pointer;
	width: 320px;
	height: 42px;
	background-color: #ff5b2f;
	border-radius: 6px;
	/*display:block;*/
	margin:auto;
	text-align: center;

	margin: 10px;
	font-weight: bold;
	color: #ffffff;
}

#check_bottom>h2{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;

	font-size: 24px;
}

.hotel{
	width: 200px;
}

#hotels{

	border: 1px solid rgba(153, 153, 153, 1);
}

.list{
	display: grid;
	height: 100px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	align-items: center;
	
	padding: 1% 1%;
}

.description{
	grid-column: 1/4;
}

.list>span{
	display: grid;
	background: #fff;
	text-align: center;
	justify-items: center;
	grid-template-columns: 2fr 2fr;
	padding: 10px 10px;
	border: 1px solid rgba(153, 153, 153, 1);

}

.scroll{
	height: 300px;
	/*width: 100%;*/
	overflow-x: hidden;
	background: #fff;
	border: #C1C1C1;
	overflow-y: scroll;
	white-space:nowrap;
    border: solid 1px #ffffff;
}

.scroll::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:10px;
	height:0px
}

.scroll::-webkit-scrollbar-track {
	background-color:#ffffff
}

.scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#C4C4C4;
}

.scroll::-webkit-scrollbar-thumb:hover{
	background-color:#a9352c;
}

.scroll::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:10px;
	height:0px
}

.scroll::-webkit-scrollbar{
	width: 10px;
}

.arrow{
	position: absolute;
	top: 2000px;
	cursor: pointer;
}

.left{
	left: 1px;
}

.right{
	transform: rotate(180deg);
	right: 1px;
}

.news_description::after{
	height: 140px;
	content: "";
	background: rgba(0,0,0,0.8);
	position:absolute; 
	top: 2298px;
	left: 0px;
	right: 0px;
	opacity: 0;
}
.news_description:hover::after,
.news_description:hover::before{
	opacity: 1;
	cursor: pointer;
}
.news_description::before{
	content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id ullamcorper dui. Pellentesque id sem augue. Nam pharetra nibh non tellus auctor aliquet. Donec at congue magna. Phasellus ac volutpat ligula. Aenean pulvinar lorem nulla, vitae sollicitudin libero efficitur in. Nulla ornare eros non lorem varius vestibulum. Phasellus auctor mauris sit amet risus sagittis dapibus. Aliquam in lacus arcu. Integer vulputate aliquam maximus.";
	position: absolute;
	top: 2348px;
	text-align: center;
	left: 10px;
	right: 10px;
	color: #ffffff;
	opacity: 0;
	z-index: 10;
}