*{
	margin: 0;
	padding: 0;

	text-decoration: none;
	font-family:sans-serif;
	font-family: Georgia, Sans-serif;
	font-weight: bold;
}

a{
	text-decoration: none;
}

h1{
	margin: 10px;

	font-size: 60px;
	font-weight: bold;
	color: #ffffff;
	-webkit-text-stroke-width: 3px;
   	-webkit-text-stroke-color: #530f09;
	text-align: center;
}

h2{
	margin: 10px;

	font-weight: bold;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
}

h3{
	margin: 10px;

	font-weight: bold;
	font-size: 36px;
	color: #53110c;
	text-align: center;
}


h4{
	margin: 10px;

	font-weight: bold;
	font-size: 28px;
	color: #ff5a2f;
	text-align: center;
}

#icon{
	display:block;

	margin: 10px;

	filter: invert(100%)
		drop-shadow(3px 3px 0 #530f09) 
		drop-shadow(-3px -3px 0 #530f09)
		drop-shadow(3px -3px 0 #530f09)
		drop-shadow(-3px 3px 0 #530f09);
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 10px;

	background-color: #53110c;
}

#headmenu>a{
	padding: 30px;

	font-size: 48px;
	color: #ffffff;
	font-weight: bold;
}

#search input::-webkit-input-placeholder {
  color: #ff5733; 
  font-style: italic;
}

#search input {
  color: white;
}

#icon_search{
	margin: 5px;

	cursor: pointer;
}

#search{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#search form {
	width: auto;
	float: right;
	margin-right: 30px;
}

#search input {
	width: 400px;
	height: 35px;
	margin: 5px;
	padding-left: 15px;

	border-radius: 40px;
	border: 2px solid #ffffff;

	background: #53110c;
	outline: none;
}

.characteristic{
	display: grid;
	grid-template-columns: 10fr 5fr;
	justify-items: center;
	grid-template-rows: auto 600px;

	margin: 0px 8% 60px 8% ;
	padding: 2%;
	gap: 2%;
}

.characteristic>p{
	padding: 1%;

	color: #807775;
	font-weight: bold;
	font-size: 130%;
}

.characteristic>img{
	grid-column: 1 / -1;

	width: 100%;
}

footer{
	padding: 30px 10px 10px 10px;

	text-align: left;
	font-size: 20px;
	color: #ffffff;
	background-color: #53110c;
}

footer{
	display: grid;
	grid-template-columns: auto 1fr;
}

footer>div{
	text-align: center;
}
td>a{
	color: #ffffff;
}

td{
	padding: 5px 20px;
}

th{
	padding: 5px 20px;

	font-size: 30px;
	color: #f55b35;
}

.contacts>img{
	width: 40px;
	padding: 2px;

	cursor: pointer;
}

footer>p{
	justify-self: right;

	padding: 0px;
	margin: 0px;

	text-align: right;
}
